
@import "https://fonts.googleapis.com/css?family=Open+Sans";
ol, ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#navigation {
    bottom: 0;
    position: relative;
}
#menu-toggle {
    display: none;
}
#main-menu {
    font-size: 0;
}
#main-menu > li {
    border-right: 1px solid #4d4d4d;
    float: left;
}
#main-menu > li.parent {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 7px 7px;
}
#main-menu > li.parent > a {
    padding-left: 14px;
}
#main-menu > li > a {
    color: #fff;
    display: block;
    font-size: 13px;
    line-height: 14px;
    padding: 15px 30px;
    text-decoration: none;
}
#main-menu > li:hover > a, #main-menu > li.current-menu-item > a {
    background: none repeat scroll 0 0 #42b7e7;
    color: #fff;
}
#main-menu li {
    position: relative;
}
ul.sub-menu {
    display: none;
    left: 0;
    padding-top: 10px;
    position: absolute;
    top: 38px;
    width: 150px;
    z-index: 9999;
}
ul.sub-menu ul.sub-menu {
    left: 149px;
    margin-top: -1px;
    padding-top: 0;
    top: 0;
}
ul.sub-menu > li > a {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px dashed #d0d0d0;
    color: #343434;
    display: block;
    font-size: 12px;
    line-height: 15px;
    padding: 10px 12px;
}
ul.sub-menu > li > a:hover {
    color: #231f20;
}
ul.sub-menu > li:first-child {
    border-top: 3px solid #231f20;
}
ul.sub-menu ul.sub-menu > li:first-child {
    border-top: 1px solid #444;
}
ul.sub-menu > li:last-child > a {
    border-radius: 0 0 2px 2px;
}
ul.sub-menu > li > a.parent {
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 5px 9px;
}
#main-menu li:hover > ul.sub-menu {
    display: block;
}
@media all and (max-width: 800px) {
#navigation {
    position: static;
}
#main-menu > li {
    border-right: medium none;
}
#menu-toggle {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
#main-menu {
    display: none;
    float: none;
    margin: 0;
}
#main-menu li {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
#main-menu > li {
    margin-top: -1px;
}
#main-menu > li:first-child {
    margin-top: 0;
}
#main-menu > li > a {
    background-color: #333;
    border: 1px solid #444;
    color: #bbb;
    display: block;
    font-size: 14px; 
    padding: 12px !important;
	font-weight:bold;
}
#main-menu li > a:hover {
    background-color: #444;
}
#main-menu > li.parent {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding: 0;
}
#main-menu > li:hover > a, #main-menu > li.current-menu-item > a {
    border: 1px solid #444 !important;
    color: #fff !important;
	font-weight:bold; 
}
ul.sub-menu {
    display: block;
    margin-left: 20px;
    margin-top: -1px;
    padding: 0;
    position: static;
    width: inherit;
}
ul.sub-menu > li:first-child {
    border-top: 1px solid #444 !important;
}
ul.sub-menu > li > a.parent {
    background: none repeat scroll 0 0 #333 !important;
}
}
@media all and (max-width: 510px) {
#menu-toggle {
    width: 99%;
}
#navigation {
    width: 100%;
}
}
